<h1>Komponent główny</h1>
<!-- <app-nav></app-nav>
<app-inputnauka></app-inputnauka> -->
<ul>
  <li>
    <a [routerLink]="'/'" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Stron główna</a
    >
  </li>
  <li>
    <a
      routerLink="/komponenty"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Komponenty nauka</a
    >
  </li>
  <li>
    <a
      [routerLink]="'/input'"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Input nauka</a
    >
  </li>
  <li>
    <a [routerLink]="'/interakcjakomponentow'">Interakcja komponentów</a>
  </li>
  <li>
    <a [routerLink]="'/cyklzyciakomponentu'">Cykl życia komponentów</a>
  </li>
  <li>
    <a [routerLink]="'/stylizacjakomponentu'">Stylizacja komponentu</a>
  </li>
  <li>
    <a [routerLink]="'/serwisynauka'">Serwisy nauka</a>
  </li>
  <li>
    <a [routerLink]="'/zapytaniahttp'">Zapytania HTTP</a>
  </li>
  <li>
      <a [routerLink]="['/a', 155]">Klik</a>
  </li>
</ul>
<div>
  <router-outlet></router-outlet>
</div>
